body {
    font-family:  "Product Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#000;
}
img {
    object-fit: cover;
}
nav img {
width: 300px;
}
header {
    padding: 16px;
}
/* .background-header{
    padding-bottom: 10px;
    background-color: #C49A6C;
} */
nav a{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 100%;
}

nav a img {
    width: 400px;
    margin-top: 1px;
}
nav li:hover a{
    color: #c0b523 ;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul li{
    padding: 20px 24px;
   
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    margin-top: -25px;
}
.subnav li{
    padding: 20px 24px;
    font-size: 1.5rem;
}
.subnav li:hover{
    color: #c0b523;
    cursor: pointer;
    border-radius: 5%;
}
.search-container {
    position: relative;
    display: inline-block;
    margin: 40px 0;
}
.nav-search{
 
    padding-left: 0px;
    font-weight: 700px;
}
.search-input {
    padding: 10px;
    height:50px;
    width: 600px;
    border: 3px solid #C49A6C;;
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: centter;
    font-size: 1rem;
}
/* Css cho danh sách Mneu */
.container ul{
    display: flex;
    justify-content: space-between;
    margin: 0 500px;
    margin-top: -30px;
}
.container ul li {
    padding: 0 20px;
    font-size: 1.5rem;
}
.container ul li a:hover {
    cursor: pointer;
    color: #c0b523 ;
}
.search {
    background-color: #C49A6C;
    border-radius: 50%;
    border: 0px solid;
    padding: 30px 30px 27px 35px;
    margin-top: 8px;
    margin-left: -55px;
    font-size: 28px;
    color: #fff;
}
button {
    padding: 17px 40px;
    border: 1px solid #ccc;
    border-radius: 8%;
    margin-bottom: 20px;
    font-size: 1.3rem;
    background-color: transparent;

}
.button-cart {
    color:#C49A6C;;
}
button:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;     
    transform: rotateY(360deg);
    transition: 0.8s;     
}
.active-menu{
    color: #C49A6C;
}
/* Content About */
main {
    padding: 20px;
    margin: 0 10px;
}

.about, .founders h2 {
    margin-bottom: 30px;
    font-size: 24px;
}
.founder{
    font-size: 26px;
}
.founders {
    text-align: center;
    display: flex;
    justify-content: space-around ;
}

.founder img {
    width: 300px;
    border-radius: 5%;
}
/*Banner */
.banner_sp  {
    margin-top: 18px;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-image: url(./banner_sanpham.jpg);
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
.banner_sp h3 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: -22px;
}

.banner_sp ul li a {
    font-size: 26px;
    color: #fff;
   
}
.banner_sp ul li a:hover{
    color: #C49A6C;
}
.ti-angle-right {
    font-size: 1rem;
    color: #fff;
   
}
.active_b {
    color: #C49A6C;
}
/* Css cho footer */
footer{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    font-size: 1.5rem;
    padding-bottom: 200px;
}
footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;

}

.footer_1 img{
    width: 50%;
}
footer h4{
    color: #C49A6C;
}
footer ul li a:hover{
    color: #C49A6C;

}
.footer_4 input{
    border: 1px solid #000;
    padding: 12px 18px 12px 12px ;
}