body {
    font-family:  "Product Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#000;
}
img {
    object-fit: cover;
}
nav img {
width: 300px;
}
header {
    padding: 16px;
}
/* .background-header{
    padding-bottom: 10px;
    background-color: #C49A6C;
} */
nav a{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 100%;
}

nav a img {
    width: 400px;
    margin-top: 1px;
}
nav li:hover a{
    color: #c0b523 ;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul li{
    padding: 20px 24px;
   
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    margin-top: -25px;
}
.subnav li{
    padding: 20px 24px;
    font-size: 1.5rem;
}
.subnav li:hover{
    color: #c0b523;
    cursor: pointer;
    border-radius: 5%;
}
.search-container {
    position: relative;
    display: inline-block;
    margin: 40px 0;
}
.nav-search{
 
    padding-left: 0px;
    font-weight: 700px;
}
.search-input {
    padding: 10px;
    height:50px;
    width: 600px;
    border: 3px solid #C49A6C;;
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: centter;
    font-size: 1rem;
}
/* Css cho danh sách Mneu */
.container {
    display: flex;
    justify-content: center;
}
.container ul {
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
}
.container ul li {
    padding: 0 20px;
    font-size: 1.5rem;
}
.container ul li a:hover {
    cursor: pointer;
    color: #c0b523 ;
}
.search {
    background-color: #C49A6C;
    border-radius: 50%;
    border: 0px solid;
    padding: 30px 30px 27px 35px;
    margin-top: 8px;
    margin-left: -55px;
    font-size: 28px;
    color: #fff;
}
.search:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer; 
    background-color: #c9a783;
    transition: calc(0.5s);   
}
button {
    padding: 17px 40px;
    border: 1px solid #ccc;
    border-radius: 8%;
    margin-bottom: 20px;
    font-size: 1.3rem;
    background-color: transparent;
    background-color: #C49A6C;

}
.button-cart {
    color:#fff;
}
.cart:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;    
    background-color: #c9a783; 
    transition: calc(0.5s);   
}
/* Css baner trang SP */
.banner_sp  {
    margin-top: 18px;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-image: url(./banner_sanpham.jpg);
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
.banner_sp h3 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: -22px;
}

.banner_sp ul li a {
    font-size: 26px;
    color: #fff;
   
}
.banner_sp ul li a:hover{
    color: #C49A6C;
}
.ti-angle-right {
    font-size: 1rem;
    color: #fff;
   
}
.active_b {
    color: #C49A6C;
}
.list_dmsp {
    background-color: #fff;
}
.content-dmsp{
    display: flex;
    justify-content: center;
    border: 0px solid #000;
    width: 1716px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: -70px;
    background-color: #fff;
    border-radius: 1%;
}
.content-dmsp ul {
    padding: 0px 50px 0 50px;
    border-right: 1px solid #ccc;
}

.content-dmsp ul li{
    display: flex;
    justify-content: center;
    font-size: 18px;

}
.content-dmsp ul li img {
    width: 90px;
    height: 100%;
}
.content-dmsp ul li a{
    font-size: 20px;
}
.content-dmsp ul li:hover a{
    color: #C49A6C;
}
.content-dmsp ul:hover  img{
    transform: rotateY(3.142rad);
    transition: 0.5s;   
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
}
 /* Css cho phần list sp */
 .main-content {
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    
 
}
.main-content-left{
   margin-top: -280px;
    margin-left: 15px;
    border-radius: 4%;
}
.main-content-right{
    width: 70%;
    margin-top: 6px;
}
.menu-main ul li {
    font-size: 1.5em;
    border-bottom: 0.5px solid #ccc ;
    margin-left:-30px;
}
.menu-main ul li:hover a
{
    color: #C49A6C;
    cursor: pointer;
} 
.menu-main{
    margin-bottom: 80px;
}
.menu-main p{
padding: 8px;
color: #fff;
background-color: #C49A6C;
font-weight: 800;
padding-left: 20px;
font-size: 1.5em;
}
.main-content-right h3 {
    font-size: 2rem;
    font-weight: 800;
   
}
/* Css cho sản phẩm */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    width: 24%;
    text-align: center;
}
.product p {
    color: #ee4d2d;
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.product:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img{
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}
.product:hover img{
    transform: rotateY(3.142rad);
    transition: 0.9s;     
}
.main-sp {
    margin-top: -280px;
}
.active-menu {
    color: #C49A6C;
}
/* Css cho footer */
footer{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    font-size: 1.5rem;
    padding-bottom: 150px;
}
footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

.footer_1 img{
    
    width: 300px;
    height: 100px;
}
footer h4{
    color: #C49A6C;
}
footer ul li a:hover{
    color: #C49A6C;

}
.footer_4 input{
    border: 1px solid #000;
    padding: 12px 18px 12px 12px ;
}
.button-footer{
   
    border: none;
    width: 300px;
    height: 90px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.button-footer:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.icons{
    margin-left: -55px;
    display: flex;
}
.banquyen{
    color: #c9a783;
    font-size: 18px;
    font-weight: 700;
    /* height: 50px; */
    /* padding: 1px 0; */
    margin-bottom: 1px;
} 
.banquyen p{
    margin-left: 40px;
}